<h2>Create List </h2>

<form action="/list" method="POST">
	<label for="name">Insert the name of your list:</label>
	<p><input id="name" type="text" name="list[name]"></p>
	<input type="submit" value="Submit">
</form>
<p>
<td><a href="/list">Home</a></td>